<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Not Found Error!</title>
    <style>
        body {
            background-color: #1E1C1C;
            margin: 0;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: monospace;
        }
        section {
        color: white;
        width: 40%;
        padding: 40px;
        border-radius: 5px;
        box-sizing: border-box;
        margin: 0;
        display: flex;
        align-items: center;
        gap: 10px;
        justify-content: center;
    }
</style>
</head>
<body>
    <section>
        <h1><%= error.message %></h1>
        <div>|</div>
        <div>
            <p><%= error.status %></p>
        </div>
    </section>
</body>
</html>